@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.ttc);
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../fonts/AnonymousPro-Regular.ttf);
}

body a {
    font-family: Inter;
}

.hero {
    font-family: Inter;
}

.right img {
    width: 100%;
    height: 250px;
    transform: scaleX(-1);
}

.right {
    margin-bottom: 0;
}

.left {
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left p {
    font-size: 20px;
}

.left h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.tenhaUmaArvore-btn a {
    text-decoration: none;
    color: black;
    background-color: #109E19;
    width: 150px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 6px;

}

.tenhaUmaArvore-btn a:hover {
    background-color: #13be1e;
    transition: 0.2s ease-in-out;
}

@media (min-width: 1024px) {
    .hero {
        display: flex;
    }

    .right img {
        width: 800px;
        height: 100%;
        clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
    }

    .left h1 {
        margin-left: 140px;
    }

    .left p {
        margin-left: 140px;
    }

}


.secondDiv {
    background-color: #F4F4F4;
}

.secondDiv-content {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secondDiv-content h1 {
    margin-bottom: 20px;
}

.secondDiv-content p {
    font-size: 18px;
}

.bubbles {
    position: relative;
    padding: 50px 50px;
}

.bubble-img1 {
    border-radius: 100%;
    width: 153px;
    height: 154px;
    position: relative;
    top: 30px;
    left: -70px;
}

.bubble-img2 {
    border-radius: 100%;
    width: 123px;
    height: 103px;
    float: left;
    position: relative;
    top: 0;
    left: 0;
}

@media (min-width: 1024px) {
    .secondDiv-content h1 span {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .secondDiv-content p {
        font-size: 24px;
        margin-left: 140px;
        margin-right: 140px;
    }
}

.thirdDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.thirdDiv-text {
    margin: 50px 50px;
}

.thirdDiv-text h1 {
    margin-bottom: 30px;
}

.thirdDiv-text p {
    margin-bottom: 50px;
}

.acompanheArv-btn {
    text-decoration: none;
    color: black;
    background-color: #109E19;
    padding: 10px;
    border-radius: 6px;

}

.acompanheArv-btn:hover {
    background-color: #13be1e;
    transition: 0.2s ease-in-out;
}

@media (min-width: 1024px) {
    .bubbles {
        margin-left: 140px;
        margin-bottom: 20px;

    }
}

.fourthDiv {
    background-color: #F4F4F4;
    padding: 50px 50px;
}

.fourthDiv-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carbonCoins {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-basis: 100%;
}

.carbonCoins img {
    width: 100px;
    height: 100px;
}

.carbonCoins p {
    font-size: 18px;
}

.treeCoins {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-basis: 100%;
}

.treeCoins img {
    width: 100px;
    height: 100px;
}

.treeCoins p {
    font-size: 18px;
}

.fourth-btn {
    background-color: #109E19;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-weight: normal;

}

.fourth-btn:hover {
    background-color: #13be1e;
    transition: 0.2s ease-in-out;
}

@media (min-width: 1024px) {
    .carbonCoins {
        margin-left: 140px;
    }

    .treeCoins {
        margin-left: 140px;
    }
}

@media (max-width: 860px) {
    .fourthDiv-content {
        display: block;
    }

    .fourth-btn {
        margin-left: 45%;
    }
}

.fifthDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fifth-text {
    padding: 50px 50px;
}

.fifth-text h1 {
    margin-bottom: 20px;
}

.fifth-text h1 span {
    color: #109E19;
}

.fifth-text p {
    margin-bottom: 30px;
}

.fifth-img {
    padding: 0px 50px 10px 50px;
}

.fifth-img img {
    width: 90%;
}

.fifth-btn {
    text-decoration: none;
    color: white;
    background-color: #0048FF;
    padding: 10px;
    border-radius: 6px;

}

.fifth-btn:hover {
    background-color: #2088e9;
    transition: 0.2s ease-in-out;
}

@media (min-width: 1024px) {

    .fifthDiv {
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .fifth-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 0px;
        margin-left: 140px;

    }

    .fifth-img {
        width: 70%;
    }

    .fifth-text p {
        margin-left: 20%;
        flex-basis: 100%;
        font-size: 20px;
    }
}

.sixthDiv {
    background-color: #F4F4F4;
}

.sixth-top {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sixth-top h1 {
    margin-bottom: 25px;
}

.sixth-top a {
    text-decoration: none;
    color: white;
    background-color: #0048FF;
    padding: 10px;
    border-radius: 6px;
}

.sixth-top a:hover {
    background-color: #2088e9;
    transition: 0.2s ease-in-out;
}

@media (min-width: 1024px) {
    .sixth-top h1 {
        flex-basis: 100%;
        margin-left: 20%;
    }

}

.sixth-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    color: white;
    padding-bottom: 100px;
}

.empresa-card1 {
    background-image: url("../img/card1.jpg");
    height: 200px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

}

.empresa-card2 {
    background-image: url("../img/card2.jpg");
    height: 200px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

}

.empresa-card3 {
    background-image: url("../img/card3.jpg");
    height: 200px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

}

.empresa-card4 {
    background-image: url("../img/card4.jpg");
    height: 200px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

}

.empresa-card5 {
    background-image: url("../img/card5.jpg");
    height: 200px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

}

.empresa-card6 {
    background-image: url("../img/card6.jpg");
    height: 200px;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

}

.logo-empresas {
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .sixth-bottom {
        justify-content: center;
    }

    .empresa-card1 {
        background-image: url("../img/card1.jpg");
        height: 200px;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px;

    }

    .empresa-card2 {
        background-image: url("../img/card2.jpg");
        height: 200px;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px;

    }

    .empresa-card3 {
        background-image: url("../img/card3.jpg");
        height: 200px;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px;

    }

    .empresa-card4 {
        background-image: url("../img/card4.jpg");
        height: 200px;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px;

    }

    .empresa-card5 {
        background-image: url("../img/card5.jpg");
        height: 200px;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px;

    }

    .empresa-card6 {
        background-image: url("../img/card6.jpg");
        height: 200px;
        width: 25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px;
    }
}

.seventhDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    margin-top: 100px;
    margin-bottom: 200px;
}



.education {
    width: 550px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-edu img {
    width: 550px;
    height: 400px;
}

@media (max-width: 550px) {
    .image-edu img {
        width: 300px;
        height: 200px;
    }

    .education {
        width: 300px;
        height: 200px;
    }
}

.education h1 span {
    color: #109E19;
}

.education h1 span2 {
    color: #C8AA00;
    font-family: Anonymous Pro;

}

.saibaMais-btn {
    background-color: #C8AA00;
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;

}

.saibaMais-btn:hover {
    background-color: #FAD400;
    transition: 0.2s ease-in-out;
}