@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.ttc);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    max-height: 500px;
}

.form-container h1 {
    font-size: 30px;
    flex-basis: 100%;
    margin-left: 23%;
    font-weight: bold;
    font-family: Inter, sans-serif;
}

.form-container h1 span {
    color: #109E19;
}

.formulario {
    margin-top: 60px;
}

#nome {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

#senha {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.senha {
    margin-bottom: 31px;
}

.senha p {
    font-size: 20px;
}

.senha p span {
    color: #109E19;
}

.restaurarSenha {
    text-decoration: none;
}

.entrar-btn {
    background-color: #109E19;
    padding: 5px 142.5px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    font-family: Inter;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.page-container {
    height: 100%;
}

.page-image {
    display: none;
}

@media (min-width: 1024px) {
    .page-image {
        display: block;
        background-image: url("../img/aerial-shot-bird-s-eye-view-forest-2025872-1024x1024.jpg");
        min-width: 60%;
        height: 93vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form-container {
        margin-top: 300px;
    }

    .page-container {
        display: flex;

    }

    .page-image {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

}

