body {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    width: 1440px;
    height: 101px;
    display: flex;
}

.nav-bar img {
    height: 45px;
    width: 45px;
    margin-left: 139px;
    margin-top: 21px;
    margin-bottom: 35px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-bar a span {
    color: #109E19;
}

.logo a p {
    float: right;
    margin-top: 38px;
    margin-left: 13px;
}

